html {
  font-family: "Roboto Serif", sans-serif;
}

body {
  font-size: clamp(0.45rem, 1.7vw, 1.35rem);
  padding: 1rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 0.65rem;
}

.row {
  display: flex;
}

.section-title {
  text-align: center;
  font-weight: 500;
  font-size: clamp(0.5em, 1.9vw, 1.95rem);
  margin: 1.35rem 0;
  color: rosybrown;
}

.gap-1 {
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: 500;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
}

.experience-detail--list,
.skills-list {
  list-style-type: circle;
  margin-left: 1rem;
}

.experience-list--item {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.education-list {
  display: flex;
  gap: 2rem;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
