.contacts {
  margin: 0 auto;
  text-align: center;
}

.contact-name {
  font-size: clamp(1.5rem, 2.9vw, 2.5rem);
  font-weight: 500;
}

.contact-info {
  justify-content: space-evenly;
  gap: 1rem;
}
